.node-graph {
  flex: 1;
  min-height: 0; /* important — prevents flex children from overflowing */
  display: block;
  /* background-color: #f6f6f6; */
  background-color: #1e1e1e;
}

.node-graph-wrapper {
  flex: 1;
  /* display: flex; */
}

